@import "../../app.scss";

ion-header{
  ion-buttons{
    margin-right: 12px;
  }
  ion-button {
    @include flex(flex,nowrap,center,unset);
    --border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 0;
    position: relative;
    svg{
      margin-bottom: 16px;
    }
    &:after{
      @include font(11px, 400, 0, capitalize, center, inherit);
      position: absolute;
      bottom: 0;
      width: 100%;
      margin-bottom: 5px;
    }
    &:first-child{
      &:after{
        content: 'Help';
      }
    }
    &:nth-child(2){
      &:after{
        content: 'Update';
      }
    }
    &:last-child{
      &:after{
        content: 'Notify';
      }
    }
  }
}
.sliders{
  height: 70px;
  background-color: $primary;
  margin-bottom: 25px;
}
ion-row{
  @include flex(flex,wrap,unset,unset);

  ion-col{
    padding: 0;

    ion-card{
      --background: transparent;
      box-shadow: none;
      border-radius: 10px;
      border-width: 2px;
      border-style: solid;

      ion-card-content{
        @include font(0.9rem, 600, 0, capitalize, center, inherit);
        @include flex(flex,nowrap,center,unset);
        color: $font-color;
        padding-right: 5px;

        label{
          display: inline-block;
          margin: -16px 5px -16px -16px;
          padding: 16px 8px;
          max-height: 70px;
        }

        span{
          word-break: break-all;
        }
      }
    }

    &:nth-child(odd){
      ion-card{
        margin: 25px 10px 0 0;
      }
    }

    &:nth-child(even){
      ion-card{
        margin: 25px 0 0 10px;
      }
    }

    &:first-child{

      ion-card{
        border-color: $alert;

        ion-card-content{
          label{
            background-color: $alert;
          }
        }
      }
    }
    &:nth-child(2){

      ion-card{
        border-color: $vitals;

        ion-card-content{
          label{
            background-color: $vitals;
          }
        }
      }
    }
    &:nth-child(3){

      ion-card{
        border-color: $health;

        ion-card-content{
          label{
            background-color: $health;
          }
        }
      }
    }
    &:nth-child(4){

      ion-card{
        border-color: $appointment;

        ion-card-content{
          label{
            background-color: $appointment;
          }
        }
      }
    }
    &:nth-child(5){

      ion-card{
        border-color: $doc_visit;

        ion-card-content{
          label{
            background-color: $doc_visit;
          }
        }
      }
    }
    &:nth-child(6){

      ion-card{
        border-color: $prescription;

        ion-card-content{
          label{
            background-color: $prescription;
          }
        }
      }
    }
    &:nth-child(7){

      ion-card{
        border-color: $report;

        ion-card-content{
          label{
            background-color: $report;
          }
        }
      }
    }
    &:last-child{

      ion-card{
        border-color: $expense;

        ion-card-content{
          label{
            background-color: $expense;
          }
        }
      }
    }
  }
}