
<ion-content>

<form [formGroup]="contactForm" (ngSubmit) = "savecontact(contactForm.value)">
	     <ion-button (click)="contact()">Create Contact</ion-button>

    <ion-item>
      <ion-label position= "floating">Name</ion-label>
      <ion-input type= "text" formControlName="contact_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position= "floating">Contact</ion-label>
      <ion-input formControlName="emergency_no" type="text">
        <ion-icon name="contact" (click)="presentModal()"></ion-icon>
      </ion-input>
    </ion-item>
    <ion-radio-group>
     <ion-item *ngFor="let data of dataDetail" (click)="chooseUserType(data.user_type)">
      <ion-label>{{data.label}}</ion-label>
      <ion-radio type="radio" slot="start" value="{{data.user_type}}"></ion-radio>
    </ion-item>
    <!-- <ion-item>
      <ion-label>doctor</ion-label>
      <ion-radio slot="start" value="doctor"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Care Giver</ion-label>
      <ion-radio slot="start" value="care-giver"></ion-radio>
    </ion-item> -->
  </ion-radio-group>  
    <ion-item class="ion-float-right">
      <ion-button type= "submit">Save</ion-button>
    </ion-item>

</form>
</ion-content>
