<ion-header class="main-header shadow">
  <ion-toolbar color="primary">
      <ion-title class="ion-padding-start">Update Health Data</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-item-group class="alergies">
      <ion-item>
        <ion-label position="floating">Allergies</ion-label>
        <ion-input type="text" #alergy (keyup)="0"></ion-input>
      </ion-item>
      <ion-item button class="autocomplete" *ngIf="autopopulate">
        <ion-label color="primary" class="select">{{alergy.value}}</ion-label>
        <ion-button slot="end" class="trans_btn">Select</ion-button>
      </ion-item>
      <ion-chip mode="md">
        <ion-label>Dust</ion-label>
        <ion-icon name="close"></ion-icon>
      </ion-chip>
    </ion-item-group>
    <ion-item>
      <ion-label position="floating">Heart Condition</ion-label>
      <ion-select>
        <ion-select-option value='Yes'>Yes</ion-select-option>
        <ion-select-option value='No'>No</ion-select-option>
      </ion-select>
    </ion-item>
     <!-- <ion-item *ngIf=>
      <ion-label position="floating">PaceMacker</ion-label>
      <ion-select>
        <ion-select-option value='Yes'>Yes</ion-select-option>
        <ion-select-option value='No'>No</ion-select-option>
      </ion-select>
    </ion-item> -->
    <ion-item>
      <ion-label position="floating">Diabetes</ion-label>
      <ion-select>
        <ion-select-option value='Yes'>Yes</ion-select-option>
        <ion-select-option value='No'>No</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Blood Pressure</ion-label>
      <ion-select>
        <ion-select-option value='High'>High</ion-select-option>
        <ion-select-option value='Normal'>Normal</ion-select-option>
        <ion-select-option value='Low'>Low</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Implant</ion-label>
      <ion-input type="text" #alergy></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cancer</ion-label>
      <ion-select>
        <ion-select-option value='Yes'>Yes</ion-select-option>
        <ion-select-option value='No'>No</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item-group class="alergies">
      <ion-item>
        <ion-label position="floating">Current Medication</ion-label>
        <ion-input type="text" #medication (keypress)="Input_medication(medication.value)"></ion-input>
      </ion-item>
      <ion-item button class="autocomplete" *ngIf="autopopulate2">
        <ion-label color="primary" class="select">{{medication_name}}</ion-label>
        <ion-button slot="end" class="trans_btn">Select</ion-button>
      </ion-item>
      <ion-chip mode="md">
        <ion-label>Medication 1</ion-label>
        <ion-icon name="close"></ion-icon>
      </ion-chip>
    </ion-item-group>
    <ion-item>
        <ion-label position="floating">Recent Surgeries</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
  </ion-list>
</ion-content>
