<ion-header>
  <ion-toolbar>
    <ion-title>
      BC4
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	
	<ion-tabs>
	  <ion-tab-bar slot="top">
	    <ion-tab-button tab="about" href="self-care-tabs/tabs/tab2/about"> 
	      <ion-label>Medications</ion-label>
	    </ion-tab-button>

	    <ion-tab-button tab="contact" href="self-care-tabs/tabs/tab2/contact">     
	      <ion-label>Vitals</ion-label>
	    </ion-tab-button>

	    <ion-tab-button tab="health" href="self-care-tabs/tabs/tab2/health">      
	      <ion-label>Others</ion-label>
	    </ion-tab-button>
	  </ion-tab-bar>
	</ion-tabs>

</ion-content>
