// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

$white: #ffffff;
$font_color: #2c2c2c;
$dark_grey: #8b9398;
$border-color: #bcbbcf;
$primary: #483df6;
$alert: #0e9bff;
$vitals: #60dc68;
$health: #ff68ab;
$appointment: #c7a254;
$doc_visit: #5ee4a2;
$prescription: #978ad2;
$report: #ea4e4e;
$expense: #ffd32c;

%font-color {
  --color: #2c2c2c;
}
%dark-gray {
  --color: #8b9398;
}
%primary-color {
  --color: #483df6;
}

@mixin font($size, $weight, $letter, $transform, $align, $line_height, $fn_color) {
  font: {
    size: $size;
    weight: $weight;
  }
  letter-spacing: $letter;
  text-transform: $transform;
  text-align: $align;
  line-height: $line_height;
  color: $fn_color;
}

@mixin border($width, $style, $brcolor) {
  border-width: $width;
  border-style: $style;
  border-color: $brcolor;
}

@mixin flex($flex, $wrap, $align, $justify) {
  display: $flex;
  flex-wrap: $wrap;
  align-items: $align;
  justify-content: $justify;
}

ion-header {
  ion-toolbar {
    ion-title {
      @include font(1.2rem, 400, 0, capitalize, left, inherit, inherit);

      &:not(.ion-padding-start) {
        padding-left: 2px;
      }
    }
    ion-img {
      padding: 0px 16px;
    }
    ion-avatar {
      --border-radius: 50%;
      background-color: #f3f3f3;
      border: 1px solid #f3f3f3;
      width: 45px;
      height: 45px;
      object-fit: cover;
      margin: 0 0 0 12px;
    }
  }
  &:not(.shadow) {
    &:after {
      display: none;
    }
  }
}

.main-header {
  ion-buttons {
    margin-right: 12px;
  }

  ion-button {
    @include flex(flex, nowrap, center, unset);
    --border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 0;
    position: relative;

    svg {
      margin-bottom: 16px;
    }

    &:after {
      @include font(11px, 400, 0, capitalize, center, inherit, inherit);
      position: absolute;
      bottom: 0;
      width: 100%;
      margin-bottom: 5px;
    }

    &:first-child {
      &:after {
        content: "Help";
      }
    }

    &:nth-child(2) {
      &:after {
        content: "Update";
      }
    }

    &:last-child {
      &:after {
        content: "Notify";
      }
    }
  }
}

ion-tab-bar {
  border: 0;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16);
}

ion-tab-button {
  @include font(10px, 600, 0, capitalize, center, inherit, none);
  --color: #483df6;
  --color-selected: #ffffff;
  svg {
    margin: 2px 0;
  }
  &.tab-selected {
    --background: #483df6;
    transition: background-color 3ms linear;
    svg {
      path {
        fill: #ffffff;
      }
    }
  }

  &:nth-child(2) {
    @include border(0px 1px, solid, #e3e3ef);
    &.tab-selected {
      svg {
        path {
          stroke: #ffffff;
        }
      }
    }
  }
}

.trans_btn {
  --background: transparent;
  --background-activated: transparent;
  --background-focused: transparent;
  --border-color: transparent;
  --border-radius: 12px;
  --border-style: solid;
  --border-width: 0px;
  --box-shadow: none;
  --color: #483df6;
  --color-activated: #483df6;
  --opacity: 1;
  --padding-bottom: 5px;
  --padding-end: 12px;
  --padding-start: 12px;
  --padding-top: 5px;
  --ripple-color: #1e1e1e;
}

.btn, ion-buttons .btn {
  --border-radius: 18px;
  --box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  --padding-bottom: 8px;
  --padding-end: 14px;
  --padding-start: 14px;
  --padding-top: 8px;
  height: auto;
  margin: 0;
  @include font(1rem, 500, 0, capitalize, center, inherit, none);

  svg{
    margin-right: 2px;
    path{
      fill: #2c2c2c;
    }
  }
}

ion-avatar {
  background-color: #bcbbcf;
  @include font(2rem, 400, 0, capitalize, center, inherit, #72708b);
  @include flex(flex, nowrap, center, center);
}

ion-segment {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background: $white;
  position: sticky;
  top: 1px;
  z-index: 1;

  ion-segment-button {
    @include font(1rem, 400, 0, capitalize, center, 45px, none);
    --color: #888888;
    --color-activated: #2c2c2c;
    --color-checked: #2c2c2c;
    --indicator-color-checked: #60dc68;
    --indicator-height: 8px;
    --padding-top: 12px;
    min-height: 45px;
  }
}

.action_tools {
  --background: transparent;
  --min-height: 50px;
  --padding-bottom: 4px;
  --padding-end: 16px;
  --padding-start: 16px;
  --padding-top: 4px;
  z-index: 0;

  ion-buttons {
    margin-right: 0;
    
    .btn {
      --background: #60dc68;
      --background-activated: #60dc68;
      --background-focused: #60dc68;
      --color: #2c2c2c;
      --color-activated: #2c2c2c;
    }
  }

  ion-searchbar {
    --background: #ffffff;
    --cancel-button-color: #bbbbbb;
    --clear-button-color: #bbbbbb;
    --color: #2c2c2c;
    --icon-color: #2c2c2c;
    --placeholder-color: #2c2c2c;
    --placeholder-opacity: 1;
    border-radius: 16px;
    height: 32px;
    padding: 0;
    width: 100px;
    @include border(1px, solid, #E9E9E9);

    .searchbar-input.sc-ion-searchbar-ios{
      padding-left: 26px !important;
      padding-right: 16px;
      // --background: url(../assets/icon/search.svg) 0 0/100% 100% no-repeat;
      // --background: url(../assets/icon/search.svg) left center no-repeat;
      @include font(1rem, 500, 0, unset, inherit, inherit, none);

      // & + ion-icon{
      //   display: none;
      // }
    }

    & + ion-buttons{
      display: block;
    }

    &.searchbar-has-focus{
      transition: width 0.3s ease;
      width: 100%;
      --placeholder-opacity: 0.5;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      @include border(1px, solid, $white);
      
      & + ion-buttons{
        display: none;
      }
    }
  }

}

// :host {
//   ion-content {
//     ion-searchbar {
//       .searchbar-input.sc-ion-searchbar-ios{
//         --background: url(../assets/icon/search.svg) 0 0/100% 100% no-repeat;
//       }
//     }
//   }
// }

.alergies {
  ion-chip {
    --background: #978ad2;
    --color: #ffffff;
  }
}

.medication {
  ion-chip {
    --background: #5ee4a2;
    --color: #2c2c2c;
  }
}

ion-toast {
  // --background: rgba(0, 0, 0, 0.58);
  --color: #ffffff;
  // --border-radius: 24px;
  --min-height: 24px;
  --min-width: 92px;
  @include font(14px, 400, 0, unset, center, inherit, none);
}