<ion-header>
  <ion-toolbar class="no-background">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="qr_preview ion-text-center">	
       <h1>{{previewData?.user.name}}</h1>
    </div>
    <ion-list class="ion-padding-start ion-padding-end">
        <ion-item>
        <ion-label>Blood Group:&nbsp;{{previewData?.user.blood_group || '-'}}</ion-label>
        <ion-label class="ion-text-end">Age:&nbsp;{{previewData?.user.age || '-'}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Mediclaim Policy#</ion-label> 
        <ion-label class="ion-text-end">{{previewData?.mediclaim_policy || '-'}}</ion-label>  
      </ion-item>

      <ion-item>
        <ion-label>Policy Issuer# </ion-label>
        <ion-label class="ion-text-end">{{previewData?.mediclaim_policy || '-'}}</ion-label>  
      </ion-item>
    </ion-list>  


    <ion-list  class="ion-no-padding ion-padding-start ion-padding-end">
      <ion-list-header *ngIf="doctor == true">
        <ion-label>Doctor</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let i of Contactinfo[0]?.doctor" > 
        <ion-avatar slot="start">
          <span>{{i?.firstleter}}</span>
        </ion-avatar>
        <ion-label>
          <h3>{{i?.contact_name | uppercase}}</h3>
          <p>{{i?.emergency_no}}</p>
        </ion-label>
        
      </ion-item>
    </ion-list>
    <ion-list class="ion-no-padding ion-padding-start ion-padding-end">
        <ion-list-header *ngIf="care_giver == true">
          <ion-label>Care Giver</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let i of Contactinfo[0]?.care_giver">
          <ion-avatar slot="start">
            <span>{{i?.firstleter | uppercase}}</span>
          </ion-avatar>
          <ion-label>
             <h3>{{i?.contact_name}}</h3>
             <p>{{i?.emergency_no}}</p>
          </ion-label>
          
        </ion-item>
      </ion-list>
       <ion-list class="ion-no-padding ion-padding-start ion-padding-end">
        <ion-list-header *ngIf="emergency == true">
          <ion-label>Emergency</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let i of Contactinfo[0]?.emergency">
          <ion-avatar slot="start">
            <span>{{i?.firstleter | uppercase }}</span>
          </ion-avatar>
          <ion-label>
             <h3>{{i?.contact_name}}</h3>
             <p>{{i?.emergency_no}}</p>
          </ion-label>
          
        </ion-item>
      </ion-list>

      <ion-item-group class="ion-padding-bottom ion-padding-start ion-padding-end alergies">
      <ion-item-divider>
        <ion-label>Alergies</ion-label>
      </ion-item-divider>
      <ion-chip *ngFor="let alergy of alergiesList; let i=index">
        <ion-label>{{alergy}}</ion-label>
      </ion-chip>
      <ion-chip *ngIf="alergiesList.length==0">
        <ion-label>No Alergies</ion-label>
      </ion-chip>
    </ion-item-group>

    <ion-item-group class="ion-padding-bottom ion-padding-start ion-padding-end pre_conditon">
      <ion-item-divider>
        <ion-label>Pre-existing Conditions</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>Heart Conditions</ion-label>
        <ion-label><span>{{ healthDetailList?.heart_condition || 'No' }}</span></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Diabetes</ion-label>
        <ion-label><span>{{ healthDetailList?.diabetes || 'No' }}</span></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Blood Pressure</ion-label>
        <ion-label><span>{{ healthDetailList?.blood_pressure || 'Normal' }}</span></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Implants</ion-label>
        <ion-label><span>{{ healthDetailList?.implants || '-' }}</span></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Cancer</ion-label>
        <ion-label><span>{{ healthDetailList?.cancer || 'No' }}</span></ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group class="ion-padding-bottom ion-padding-start ion-padding-end medication">
      <ion-item-divider>
        <ion-label>Current Medications</ion-label>
      </ion-item-divider>
      <ion-chip *ngFor="let medication of currentMedicationList; let i=index">
        <ion-label>{{medication}}</ion-label>
      </ion-chip>
      <ion-chip *ngIf="currentMedicationList.length==0">
        <ion-label>No current Medications</ion-label>
      </ion-chip>
    </ion-item-group>

    <ion-item-group class="ion-padding-bottom ion-padding-start ion-padding-end recent">
      <ion-item-divider>
        <ion-label>Recent Surgeries</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label class="ion-no-margin" text-wrap>{{healthDetailList?.recent_surgeries || 'No'}}</ion-label>
      </ion-item>
    </ion-item-group>  
</ion-content>