@import "../../app.scss";

.sliders{
  height: 70px;
  background-color: $primary;
  margin-bottom: 66px;
  padding: 16px;
  position: relative;

  ion-card {
    --background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    position: relative;
    margin: 0px;

    ion-item {
      --border-width: 0px;
      --border-style: none;
      --padding-start: 0px;
      --inner-padding-end: 0px;
      @include flex(flex,nowrap,center,unset);

      svg{
        margin-right: 15px;
      }

      h5{
        @include font(1.1rem, 500, 0, capitalize, left, inherit, $font-color);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      p{
        @include font(0.85rem, 500, 0, capitalize, left, inherit, $font-color);
      }
    }
  }
}

.trans_btn {
  @include font(11px, 400, 0, unset, center, inherit, none);
  position: absolute;
  bottom: -66px;
  right: 16px;
  height: auto;
  margin: 0px;
}

ion-grid {
  padding: 0px 16px 30px;

  ion-row{
    @include flex(flex,wrap,unset,unset);
  
    ion-col{
      padding: 0;

      ion-card{
        --background: transparent;
        box-shadow: none;
        border-radius: 10px;
        border-width: 2px;
        border-style: solid;
  
        ion-card-content{
          @include font(0.9rem, 600, 0, capitalize, center, inherit, $font-color);
          @include flex(flex,nowrap,center,unset);
          padding-right: 5px;
  
          label{
            display: inline-block;
            margin: -16px 4px -16px -16px;
            padding: 16px 8px;
            max-height: 70px;
          }
  
          span{
            word-break: break-all;
          }
        }
      }
  
      &:nth-child(odd){
        ion-card{
          margin: 25px 10px 0 0;
        }
      }
  
      &:nth-child(even){
        ion-card{
          margin: 25px 0 0 10px;
        }
      }
  
      &:first-child{
  
        ion-card{
          border-color: $alert;
  
          ion-card-content{
            label{
              background-color: $alert;
            }
          }
        }
      }
      &:nth-child(2){
  
        ion-card{
          border-color: $vitals;
  
          ion-card-content{
            label{
              background-color: $vitals;
            }
          }
        }
      }
      &:nth-child(3){
  
        ion-card{
          border-color: $health;
  
          ion-card-content{
            label{
              background-color: $health;
            }
          }
        }
      }
      &:nth-child(4){
  
        ion-card{
          border-color: $appointment;
  
          ion-card-content{
            label{
              background-color: $appointment;
            }
          }
        }
      }
      &:nth-child(5){
  
        ion-card{
          border-color: $doc_visit;
  
          ion-card-content{
            label{
              background-color: $doc_visit;
            }
          }
        }
      }
      &:nth-child(6){
  
        ion-card{
          border-color: $prescription;
  
          ion-card-content{
            label{
              background-color: $prescription;
            }
          }
        }
      }
      &:nth-child(7){
  
        ion-card{
          border-color: $report;
  
          ion-card-content{
            label{
              background-color: $report;
            }
          }
        }
      }
      &:last-child{
  
        ion-card{
          border-color: $expense;
  
          ion-card-content{
            label{
              background-color: $expense;
            }
          }
        }
      }
    }
  }
}
