<ion-content>

 


<form [formGroup]="update" (ngSubmit)="updateValues(update.value)">
    <ion-item>
      <ion-label position="floating">Blood group</ion-label>
      <ion-input type="text" formControlName="blood_group" autofocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Age</ion-label>
      <ion-input type="text" formControlName="age" autofocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Mediclaim Policy#</ion-label>
      <ion-input type="text" formControlName="mediclaim_policy" autofocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Policy Issuer#</ion-label>
      <ion-input type="text" formControlName="policy_issuer" autofocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-button >Cancel</ion-button>
      <ion-button type="submit">Save</ion-button>
    </ion-item>
    
  </form>

</ion-content>
